{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container">
    <div>
    <h1>Registeration form</h1>
    </br>

    {{ form_start(registrationForm) }}
     <div class="form-group">
        <div class="form-control">
        {{ form_row(registrationForm.email) }}
        </div>
        <div class="form-control">
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password',
        }) }}
        </div>
        <div class="form-control">
        {{ form_row(registrationForm.agreeTerms) }}
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    {{ form_end(registrationForm) }}
    </div>
    </div>
{% endblock %}
